<?xml version="1.0"?>
<config>
    <modules>
        <Philwinkle_Cornify>
             <version>0.1.0</version>
        </Philwinkle_Cornify>
    </modules>
    <admin>
    </admin>
    <global>
        <models>
            <cornify>
                <class>Philwinkle_Cornify_Model</class>
            </cornify>
        </models>
        <blocks>
            <cornify>
                <class>Philwinkle_Cornify_Block</class>
            </cornify>
        </blocks>
        <helpers>
            <cornify>
                <class>Philwinkle_Cornify_Helper</class>
            </cornify>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <philwinkle_cornify>
                        <type>singleton</type>
                        <class>cornify/observer</class>
                        <method>beforeRenderLayout</method>
                    </philwinkle_cornify>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </adminhtml>
    <frontend>
    </frontend>
    <default>
        <cornify>
        </cornify>
    </default>
</config>